nav.navbar.navbar-fixed-bottom(role='navigation')
	.container-fluid
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav
				li
					a(href='#') 
						i(class="material-icons") home
						| Главная
				li
					a(href='#')
						i(class="material-icons") volume_up
						| О нас
				li
					a(href='#')
						i(class="material-icons") settings
						| Проекты
				li
					a(href='#')
						i(class="material-icons") account_balance_wallet
						| Цены
				li
					a(href='#')
						i(class="material-icons") toc
						| Статьи
		.navbar-header
			button.navbar-toggle.x(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
				//- span.sr-only Toggle navigation
				//- span.icon-bar
				//- span.icon-bar
				//- span.icon-bar
				i(class="material-icons") menu
			a(href="#")
				i(class="material-icons") local_phone
			a(href="#")
				i(class="material-icons") sms
			a(href="#")
				i(class="material-icons") search
			a(href="#")
				i(class="material-icons") keyboard_arrow_up
			
			//- a.navbar-brand(href='#') Fregata