.homepage__main.main
	.main__logo
		.logo
			img(src=" // <?php echo get_template_directory_uri() . '/assets/img/logo.png' ?> ", alt="Логотип")
		.text
			p Fregata
	.main__elements
		ul
			li О нас
			li Услуги
			li Работы
			li Статьи