@font-face {
    font-family: 'MinionProRegular';
    src: url('assets/fonts/Minion_Pro_Regular/Minion_Pro_Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'MicrosoftTaiLe';
    src: url('assets/fonts/Microsoft_Tai_Le/taile.ttf') format("truetype");
}

@font-face {
    font-family: 'SegoeUI_Light';
    src: url('assets/fonts/Segoe_UI_Light/SegoeUI_Light.ttf') format("truetype");
}