.homepage__footer.footer
	div.footer__left
	div.footer__center
		p ФРЕГАТ - создание сайтов в Перми
		p 2017
	div.footer__right
		img(src=" // <?php echo get_template_directory_uri() . '/assets/img/vk-icon.png' ?> ", alt="Иконка Вконтакте")